.oferta-img{
  width:100%;
  height:300px;        
  object-fit:cover;
  display:block;
  margin-inline:auto;  
}

@media (min-width:768px){  
  .oferta-img{ height:240px; }
}
@media (min-width:992px){  
  .oferta-img{ width:90%; height:450px; } 
}

@media (max-width: 991px) { 
    .navbar-collapse {
      background-color: white !important;
      padding: 1rem; 
    }

    .navbar-collapse .nav-link {
      color: #000 !important; 
    }
}

.img-cuadrada {
  width: 500px;     
  height: 500px;    
  object-fit: cover; 
}

/* modo oscuro para las tarjetas */
.card {
  background-color: #1e1e1e !important; 
  color: #e0e0e0 !important; 
  border: 1px solid #333 !important; 
}

.btn-success {
  background-color: #00ff80 !important; /* verde neón */
  border-color: #00ff80 !important;
  color: #000 !important; /* texto oscuro para contraste */
  font-weight: 500;
  box-shadow: 0 0 12px rgba(0, 255, 128, 0.6); /* brillo neón */
  transition: all 0.2s ease-in-out;
}

.btn-success:hover {
  background-color: #00ffa0 !important; /* un poco más brillante al pasar el mouse */
  border-color: #00ffa0 !important;
  box-shadow: 0 0 18px rgba(0, 255, 160, 0.8);
}

.titulo-neon {
  color: #00ff80 !important;         
  text-shadow: 0 0 10px #00ff80;      
  font-weight: 600;
}